// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';







//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






body
{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(34,0,255,1) 100%, rgba(255,255,255,0.9864320728291317) 100%);
}
.cardModified
{
    padding: 3px;
}

.badge-quantite{
    line-height : 1.3;
    margin: 0 5px;
}
/* Sidebar par défaut cachée */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: #f8f9fa;
    border-left: 1px solid #ddd;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    visibility: hidden;  /* La sidebar est cachée par défaut */
    opacity: 0;  /* La sidebar est invisible */
    transition: visibility 0.3s, opacity 0.3s ease;  /* Transition pour rendre la sidebar visible */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Classe qui rend la sidebar visible */
.sidebar.visible {
    visibility: visible;  /* Affiche la sidebar */
    opacity: 1;  /* Rends la sidebar visible */
}


/* Pour les cartes dans la sidebar */
.sidebar .card {
    margin-bottom: 10px;
    width: 100%;  /* Les cartes prennent toute la largeur de la sidebar */
}
.sidebar ul
{
    list-style-type: none;
}
.productListElement .badge.bg-danger{
    max-height: 20px;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}
.productListElement p {
    margin-left: 5px;
}
p
{
 margin:0;
}

.sidebar-active{
    animation: resizeContainer 1s linear forwards;
}

@keyframes resizeContainer {
    from {
        width: 100%;
    }to {
        width: calc(100% - 450px);
    }
}

